.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $input-border;
    border-radius: 0;
    outline: 0;
    height: $input-height-base;
    width: 100%;
    display: block;
    font-size: $body-font-size;
    line-height: $line-height-base;
    padding: $material-input-padding 0 0;
    @include box-shadow(none);
    @include transition(box-shadow .3s, border .3s);
    @include box-sizing(content-box);
    position: relative;
    z-index: 2;

    & ~ label {
        position: absolute;
        z-index: 1;
        left: 0;
        top: $material-input-padding;
        font-size: $body-font-size;
        font-weight: normal;
        line-height: $input-height-base;
        margin: 0;
        @include transition(transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out);
    }

    @include form-control-material-focus();

    &[placeholder] {
        & ~ label {
            left: 0;
            line-height: $line-height-base;
            @include transform(translateY(-$material-input-padding) scale(0.8));
            @include transform-origin(0 0);
        }
    }

    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: transparent;
        opacity: 1;
        border-color: $input-border;
        @include box-shadow(none);

        & ~ label {
            color: $input-label-disabled;
            line-height: $input-height-base;
            @include transform(none);
        }
    }

    &[disabled],
    fieldset[disabled] & {
        cursor: $cursor-disabled;
    }
}