@mixin form-control-focus($color: $input-border-focus) {
    $color-rgba: rgba($color, .6);
    &:focus {
        border-color: $color;
        outline: 0;
        @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
    }
}

@mixin form-control-material-focus($color: $input-border-focus) {
    &:focus, &:active {
        & {
            border-color: $color;
            @include box-shadow(0 1px 0 $color);
        }
        & ~ label {
            color: $color;
        }
    }
}

@mixin checkbox-color($background-color: $input-border-focus, $check-color: #fff) {
    &:not(:checked) {
        + span {
            &:after {
                border-color: $background-color;
            }
        }
    }
    &:checked {
        + span {
            &:before {
                border-right-color: $check-color;
                border-bottom-color: $check-color;
            }
            &:after {
                border-color: darken($background-color, 5%);
                background-color: $background-color;
            }
        }
    }
}

@mixin radio-color($background-color: $input-border-focus) {
    &:not(:checked) {
        + span {
            &:before,
            &:after {
                border-color: $background-color;
            }
        }
    }
    &:checked {
        + span {
            &:before,
            &:after {
                border-color: darken($background-color, 5%);
            }

            &:after {
                background-color: $background-color;
            }
        }
    }
}

@mixin material-form-control-state($color) {
    color: $color;
    border-bottom-color: darken($color, 5%);
    @include form-control-material-focus(darken($color, 5%));

    ~ label {
        color: $color;
    }

    ~ .help-block {
        color: $color;
    }
}

@mixin form-control-state($color) {
    border-color: darken($color, 5%);
    color: $color;

    @include form-control-focus($color);
}